
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Main Page</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="static/style.css" rel="stylesheet">

            <style>
          table.dataframe, .dataframe th, .dataframe td {
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight:bold;



}

      </style>

  </head>

  <body>


  {% block body %} {% endblock %}




    <footer class="footer">
      <div class="container">
        <span class="text-muted" >Regression And Classification Analysis.</span>
        <span class="text-muted" style="float: right;"> Made By @ Pratyusa And Trapti</span>
      </div>
    </footer>
  </body>
</html>
